body {
  margin: 0;
  font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  background-color: pink;
}

h1 {
  text-align: center;
  text-decoration: underline;
  margin-bottom: 2rem;
}

main {
  margin: 0rem 2rem;
}

span {
  font-size: 2rem;
  margin-left: 0.5rem;
}

section:nth-child(1) {
  background: yellow;
}
section:nth-child(2) {
  background: red;
}
section:nth-child(3) {
  background: orange;
}
section:nth-child(4) {
  background: green;
}

